div div {
    height: 10px;
    width: 10px;
    border: 1px solid black;
}

.gray {
    background-color: rgb(155, 155, 155);
}

.yellow{
    background-color: rgb(199, 199, 0);
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.pink{
    background-color: rgb(221, 132, 217);
}

.brown{
    background-color: rgb(150, 80, 0);
}

body :nth-child(n){
    display: flex;
}